<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.norinori777.infrastructure.mapper.chat.EditUserMapper">
	<update id="updateOne" parameterType="jp.norinori777.domain.model.User.User">
		update m_user
		set
			name = #{user.name},
			email_address = #{user.emailAddress},
			version = #{user.version},
			update_at = now()
		where email_address = #{emailAddress}
	</update>
</mapper>