<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.norinori777.infrastructure.mapper.chat.LoginUserMapper">
	<select id="selectUser" resultType="jp.norinori777.domain.model.User.User">
		select 
			user_id,
			name,
			email_address,
			password,
			state,
			login_miss_times,
			enabled,
			create_at, 
			update_at,
			version
		from m_user
		where email_address = #{emailAddress} 
	</select>

	<select id="getRoleList" resultType="String">
		select 
			role.role_name
		from m_user
		inner join t_user_role user_role on m_user.email_address = user_role.email_address
		inner join m_role role on user_role.role_id = role.role_id
		where m_user.email_address = #{emailAddress}
	</select>

</mapper>