<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="css/index.css" rel="stylesheet" />
    <title>Hello World</title>
  </head>
  <body>
    <div id="root">
        <h1 th="${status} + ' ' + ${error}"></h1>
        <p th:text="${message}">500 Server Error</p>
    </div>
    <script src="js/main.js"></script>
  </body>
</html>
