<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.norinori777.infrastructure.datasource.chat.ListUserMapper">
	<select id="selectUsers" resultType="jp.norinori777.domain.model.User.User">
		select
			user_id, 
			name,
			email_address,
			state,
			enabled, 
			login_miss_times,
            to_char(create_at, 'YYYY-MM-DD') as create_at, 
			to_char(update_at, 'YYYY-MM-DD') as update_at,
			version
		from m_user
		where state = 0 and enabled = true
	</select>
</mapper>