<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.norinori777.infrastructure.datasource.chat.TalkMessageMapper">
	<select id="selectTalkMessages" resultType="jp.norinori777.domain.model.Message.TalkMessage">
		select
			tm.message_id, 
			tm.message,
			tm.room_id,
			tm.user_id,
			mu.name,
			tm.state, 
            to_char(tm.create_at, 'YYYY-MM-DD') as create_at, 
			to_char(tm.update_at, 'YYYY-MM-DD') as update_at
		from t_talk_messages tm
		Left outer join m_user mu on tm.user_id = mu.user_id
		where tm.state = 0 and  tm.room_id = #{roomId}
	</select>

	<insert id="insertTalkMessage">
		insert into t_talk_messages(
			message,
			room_id,
			user_id,
			state,
			create_at,
			update_at
		) values (
			#{message},
			#{roomId},
			#{userId},
			0,
			now(),
			now()
		)
	</insert>

	<delete id="deleteTalkMessage">
		delete from t_talk_messages
		where message_id = #{messageId}
	</delete>

	
	<delete id="deleteChatRoomAllTalkMessages">
		delete from t_talk_messages
		where room_id = ${roomId}
	</delete>
</mapper>